
#!/usr/bin/env bash
export NIM_REPO="https://github.com/status-im/Nim"
export NIMBLE_REPO="https://github.com/nim-lang/nimble"

# source ./scripts/rebuild-nim

export PATH="$(pwd)/nimsuggest:$(pwd)/${NIM_DIR}/bin:${PATH}"
